body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
  background : #232323
}
header {
  margin-top : 5%;
  margin-bottom : 5%;
}
h1 {
  text-align : center;
  font-size : 75px;
  color : white;
}
footer {
  color : white;
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}
.stock-tab {
  display : inline-block;
  color : white;
  border : 1px solid #13b233;
  width : 30% !important;
  margin : 1% 1% 0 1%;
  min-height : 97px;
}
#list {
  width : 100%;
  padding : 0;
}
.col-sm-3 div{
  text-align : right;
}
.col-sm-9 {
  padding-left : 6%;
  text-align : left;
}
.delete {
  padding-top: 10%;
  padding-right: 15%;
  font-size : 12px;
  cursor : pointer 
}
#maxLimit {
  color : white;
  margin-top : 1%;
}
.input {
  text-align : right;
  padding : 0% 
}
.submit {
  text-align : left;
  padding : 0% 
}
#input {
  width : 80%
}
.btn-success {
  width : 60%;
  padding : 2%;
  border-radius : 0px
}
.error {
  margin : 0px;
  padding : 0px;
}